@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OSBCPDX</h1>
    <p class="lead">We are a politcally independent and non-profit organization located in Portland. We are united and strengthen our community.</p>
    <p><a href="https://www.facebook.com/OSBCPDX/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("User", "List", "User")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<img src="~/Images/oregonSomaliBravanessComunity.jpg" />
<p>Welcome!</p>

<div class="row">
    <div class="col-md-4">
        <h2>Nonprofit Organization</h2>
        <p>
            As a nonprofit organization, Oregon Somali Bravaness Community brings unprecedented compassion and grace to all people, while this spirt and wit changes what the public expected a nonprofit organization to be.
        </p>
        <p><a class="btn btn-default" href="https://www.councilofnonprofits.org/what-is-a-nonprofit">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SIX CORE PRINCIPLES</h2>
        <p>
            Confidence Belief in oneself, one's abilties, and one's future.
            Convitction A firm belief that gives one the courage to stand behind that belief, despite pressure to do otherwise.
            Dedication The act of devoting all of one's energy, effort, and abilities to a certain task.
            Giving To present voluntarily without expecting something in return.
            Respect Esteem for, or a sense of the worth or excellence of, oneself and others.
            Spirituality A sense of awe, reverance, and inner peace inspired by a connection to all of creation and/or that which is greater than oneself.
        </p>
        <p><a class="btn btn-default" href="https://alicenter.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About the Oregon Somali Bravaness Center</h2>
        <p>The Oregon Somali Bravaness Community center is built off of the inspiration derived from  the sunnah of  the prophet Muhammad SAW. Take action. Children need champions. Get involved, speak out, volunteer, or become a donor and give every child a fair chance to succeed.</p>
        <p><a class="btn btn-default" href="https://sacoo.org/">Learn more &raquo;</a></p>
    </div>
</div>